body {
     background-color: #ffffff;
     color: rgb(255, 255, 255);
 }

 .contato {
     max-width: 850px;
     margin: 60px auto;
 }

 .contato h1 {
     color: #d4af37;
     font-weight: bold;
 }

 .contato-card {
     background-color: #000000;
     border: 1px solid #d4af37;
     border-radius: 12px;
     padding: 30px;
     height: 100%;
 }

 .contato-card h4 {
     color: #d4af37;
     font-weight: bold;
 }

 .contato-card p {
     color: #ffffff;
 }

 .form-label {
     color: #ffffff;
 }

 .form-control {
     background-color: #1c1c1c;
     border: 1px solid #333333;
     color: rgb(255, 255, 255);
 }

 .form-control:focus {
     background-color: #000000;
     color: rgb(255, 255, 255);
     border-color: #d4af37;
     box-shadow: none;
 }

.btn-estetick {
    background-color: #000000;
    color: #fff;
    border: none;
}

.btn-estetick:hover {
    background-color: hsl(0, 27%, 81%);
    color: #fff;
}
