<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- TAG DO MEU SITE-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Página com conteúdos, exercícios e atividades desenvolvidas durante as aulas de Bootstrap, aprendendo a criar páginas web modernas, organizadas e responsivas.">
    <meta name="keywords" content="sites,web desenvolvimento backend">
    <meta name="author" content="Lucas segura, SeguraPrime, seguralucas949@gmail.com, 11 97387-4201">
    <title>Cadastro</title>
    <link rel="icon" href="/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <div id="header-container"></div>
    </div>

    <main class="container">

        <div class="cadastro">

            <div class="text-center mb-4">

                <h1>Cadastro</h1>

                <p style="color: #cccccc;">
                    Cadastre seus dados para facilitar seus próximos agendamentos.
                </p>

            </div>

            <form>

                <div class="mb-3">
                    <label class="form-label">Nome completo</label>

                    <input type="text" class="form-control" placeholder="Digite seu nome" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">E-mail</label>

                    <input type="email" class="form-control" placeholder="Digite seu e-mail" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefone</label>

                    <input type="tel" class="form-control" placeholder="(00) 00000-0000" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">CPF</label>

                    <input type="text" class="form-control" placeholder="Digite seu CPF" required>
                </div>

                <div class="mb-4">
                    <label class="form-label">Senha</label>

                    <input type="password" class="form-control" placeholder="Crie uma senha" required>
                </div>

                <button type="submit" class="btn btn-estetick w-100">
                    Criar cadastro
                </button>

            </form>

        </div>

    </main>

    <div id="footer-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>

    <script src="/js/script.js"></script>

    <div>
        <div id="footer-container"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
    <script src="/js/script.js"></script>

</body>

</html>