<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <!-- TAG DO MEU SITE-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Página com conteúdos, exercícios e atividades desenvolvidas durante as aulas de Bootstrap, aprendendo a criar páginas web modernas, organizadas e responsivas.">
    <meta name="keywords" content="sites,web desenvolvimento backend">
    <meta name="author" content="Lucas segura, SeguraPrime, seguralucas949@gmail.com, 11 97387-4201">

    <title>Estetickelite</title>

    <link rel="icon" href="/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


</head>

<body>
    <!-- header -->
    <header>
        <link rel="stylesheet" href="../static/css/styleheader.css">
        <div class="container header-estetick">
            <div class="header-container">

                <!-- LOGO -->
                <a href="/index.html" class="logo-estetick">
                    <img src="/static/favicon_io/android-chrome-512x512.png" alt="Logo EstetickElite">

                    <span>
                        Estetick<span>Elite</span>
                    </span>
                </a>

                <!-- MENU -->
                <nav>
                    <ul class="nav-estetick">

                        <li>
                            <a href="/templates/index.html" class="active">
                                Home
                            </a>
                        </li>

                        <li>
                            <a href="/templates/cadastro.html">
                                Cadastro
                            </a>
                        </li>

                        <li>
                            <a href="/templates/agendamento.html">
                                Agendamento
                            </a>
                        </li>

                        <li>
                            <a href="/templates/faleconosco.html">
                                Fale conosco
                            </a>
                        </li>

                    </ul>
                </nav>

                <!-- BOTÕES -->
                <div class="botoes-header">

                    <a href="/templates/cadastro.html" class="btn-cadastrar">
                        Cadastrar
                    </a>

                    <a href="/templates/agendamento.html" class="btn-agendar">
                        Agendar
                    </a>

                </div>

            </div>
        </div>
    </header>

    <div class="container-img">

        <div class="card-body">

            <h1 class="card-title">
                Bem Vindo à Estetickelite!!!
            </h1>
            <!-- apresentação -->
            <p class="card-text">
                A EstetickElite é uma empresa de estética automotiva criada com o objetivo de oferecer cuidados de
                qualidade para veículos, unindo limpeza, conservação e atenção aos detalhes.

                Nosso propósito é proporcionar aos clientes uma experiência diferenciada, deixando cada veículo mais
                limpo, bem cuidado e com uma aparência renovada. Trabalhamos com serviços pensados para atender
                diferentes necessidades, desde uma limpeza mais simples até cuidados mais completos.

                Além da qualidade nos serviços, a EstetickElite busca oferecer praticidade e facilidade para o cliente,
                permitindo realizar cadastros, consultar serviços, conhecer os pacotes disponíveis e fazer agendamentos
                de forma organizada.

                Acreditamos que cuidar do carro vai além da aparência: é também uma forma de preservar o veículo e
                valorizar aquilo que o cliente conquistou.

                EstetickElite — cuidado, qualidade e atenção em cada detalhe.
            </p>
            <!-- imagem carro -->
        </div>
    </div>
    <div class="container servicos">
        <div class="row">
            <!-- serviços -->
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/1-1.webp" class="card-img-top" alt="Lavagem técnica">

                    <div class="card-body">
                        <h5 class="card-title">Lavagem técnica</h5>

                        <p class="card-text">
                            A lavagem é essencial para preservar a pintura, incluindo rodas e áreas de difícil acesso.
                            Também aplicamos uma proteção que facilita futuras lavagens e prolonga o intervalo entre
                            elas.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 80,00
                        </h4>

                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/2.webp" class="card-img-top" alt="Enceramento Wax">
                    <div class="card-body">
                        <h5 class="card-title">Enceramento Wax</h5>
                        <p class="card-text">
                            Nossa Super Cera cria uma película de proteção sobre a lataria, vedando os
                            micro poros da pintura. Como resultado, menos danos provocados pelos raios solares.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 250,00
                        </h4>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/3-1.webp" class="card-img-top" alt="Revitalização de plásticos">
                    <div class="card-body">
                        <h5 class="card-title">Revitalização de plásticos</h5>
                        <p class="card-text">
                            A revitalização de plásticos Box Detail traz vida e um visual mais atraente
                            às peças que vão se desbotando ao longo do tempo, que ficam expostas ao sol e à chuva.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 480,00
                        </h4>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/4.webp" class="card-img-top" alt="Polimento de Pintura">
                    <div class="card-body">
                        <h5 class="card-title">Polimento de Pintura</h5>
                        <p class="card-text">
                            Carros com pinturas manchadas merecem o polimento de pintura. O processo
                            também reaviva a cor e o brilho da lataria, além de eliminar riscos.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 700,00
                        </h4>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/5.webp" class="card-img-top" alt="Revitalização de Plásticos Internos">
                    <div class="card-body">
                        <h5 class="card-title">Revitalização de Plásticos Internos</h5>
                        <p class="card-text">
                            A revitalização de plásticos Box Detail traz vida e um visual mais atraente
                            às peças que vão se desbotando ao longo do tempo.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 380,00
                        </h4>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/6..png" class="card-img-top" alt="Vitrificação de Vidros">
                    <div class="card-body">
                        <h5 class="card-title">Vitrificação de Vidros</h5>

                        <p class="card-text">
                            A limpeza e manutenção da Box Detail nos vidros evita a fixação de sujeiras
                            pesadas e melhora a visibilidade. Diminui a necessidade de limpezas frequentes.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 600,00
                        </h4>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/7.webp" class="card-img-top" alt="Descontaminação de Pintura">
                    <div class="card-body">
                        <h5 class="card-title">Descontaminação de Pintura</h5>
                        <p class="card-text">
                            A descontaminação de pintura da Box Detail remove os contaminantes que
                            deixam a pintura áspera, parecendo lixa.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 580,00
                        </h4>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card">
                    <img src="/static/img/8.webp" class="card-img-top" alt="Polimento de Faróis">
                    <div class="card-body">
                        <h5 class="card-title">Polimento de Faróis</h5>
                        <p class="card-text">
                            O polimento remove respingos de asfalto, arranhões da superfície e
                            opacidade, aumentando sua capacidade de iluminação.
                        </p>
                        <h4 style="color: #d4af37; font-weight: bold;">
                            R$ 150,00
                        </h4>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="text-center mb-5">
            <h2 style="color: #d4af37; font-weight: bold;">
                Combos EstetickElite
            </h2>
            <p style="color: #cccccc;">
                Cuidados completos para deixar seu veículo sempre impecável.
            </p>
        </div>
        <!-- combos -->
        <div class="row">
            <!-- COMBO START -->
            <div class="col-12 col-md-4 my-3">
                <div class="card h-100 text-center" style="background-color: #111111; border: 1px solid #292929;">
                    <div class="card-body d-flex flex-column">
                        <h4 style="color: #d4af37; font-weight: bold;">
                            Combo Start
                        </h4>
                        <p style="color: #cccccc;">
                            Lavagem Técnica
                            <br>
                            +
                            <br>
                            Enceramento Wax
                        </p>
                        <p style="color: #777777; text-decoration: line-through;">
                            De R$ 330,00
                        </p>
                        <h3 style="color: white; font-weight: bold;">
                            R$ 300,00
                        </h3>
                        <p style="color: #d4af37;">
                            Economia de R$ 30,00
                        </p>
                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100 mt-auto">
                            Agendar
                        </a>
                    </div>
                </div>
            </div>
            <!-- COMBO PREMIUM -->
            <div class="col-12 col-md-4 my-3">
                <div class="card h-100 text-center" style="background-color: #111111; border: 2px solid #d4af37;">
                    <div class="card-body d-flex flex-column">
                        <h4 style="color: #d4af37; font-weight: bold;">
                            Combo Premium
                        </h4>

                        <p style="color: #cccccc;">
                            Lavagem Técnica
                            <br>
                            +
                            <br>
                            Revitalização de Plásticos
                            <br>
                            +
                            <br>
                            Vitrificação de Vidros
                        </p>

                        <p style="color: #777777; text-decoration: line-through;">
                            De R$ 1.160,00
                        </p>

                        <h3 style="color: white; font-weight: bold;">
                            R$ 750,00
                        </h3>

                        <p style="color: #d4af37;">
                            Economia de R$ 410,00
                        </p>

                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100 mt-auto">
                            Agendar
                        </a>

                    </div>
                </div>
            </div>
            <!-- COMBO ELITE -->
            <div class="col-12 col-md-4 my-3">
                <div class="card h-100 text-center" style="background-color: #111111; border: 1px solid #292929;">

                    <div class="card-body d-flex flex-column">

                        <h4 style="color: #d4af37; font-weight: bold;">
                            Combo Elite
                        </h4>

                        <p style="color: #cccccc;">
                            Lavagem Técnica
                            <br>
                            +
                            <br>
                            Enceramento Wax
                            <br>
                            +
                            <br>
                            Descontaminação de Pintura
                            <br>
                            +
                            <br>
                            Polimento de Pintura
                        </p>

                        <p style="color: #777777; text-decoration: line-through;">
                            De R$ 1.610,00
                        </p>

                        <h3 style="color: white; font-weight: bold;">
                            R$ 1.300,00
                        </h3>

                        <p style="color: #d4af37;">
                            Economia de R$ 310,00
                        </p>

                        <a href="/paginas/agendamento.html" class="btn btn-primary w-100 mt-auto">
                            Agendar
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer -->
    <footer>

        <link rel="stylesheet" href="../static/css/stylefooter.css">
        <div class="footer-estetick">
            <div class="container footer-container">

                <div class="d-flex flex-wrap justify-content-between align-items-center py-4">

                    <!-- COPYRIGHT -->
                    <p class="col-md-4 mb-0 copyright">
                        © 2026 EstetickElite. Todos os direitos reservados.
                    </p>

                    <!-- LOGO -->
                    <a href="/index.html"
                        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 logo-footer">

                        <img src="/favicon_io/android-chrome-512x512.png" alt="Logo EstetickElite" width="40"
                            height="40" class="me-2">

                        Estetick<span>Elite</span>
                    </a>

                    <!-- MENU -->
                    <ul class="nav col-md-4 justify-content-end">

                        <li class="nav-item">
                            <a href="/index.html" class="nav-link px-2">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="../templates/cadastro.html" class="nav-link px-2">
                                Cadastro
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/templates/agendamento.html" class="nav-link px-2">
                                Agendamento
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href=",,faleconosco.html" class="nav-link px-2">
                                Fale conosco
                            </a>
                        </li>

                    </ul>

                </div>

                <!-- FRASE DA EMPRESA -->
                <div class="text-center py-3 linha-dourada">
                    <small style="color: #d4af37;">
                        Estética automotiva com qualidade e excelência.
                    </small>
                </div>

            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
    <script src="/js/script.js"></script>

</body>

</html>